<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Brain Tumor Detection System</h1>
        <h3>Insert MRI image here !</h3>
        <form action="/predict" method="post" enctype="multipart/form-data" class="form">
            <input type="file" name="image" accept="image/*" class="file-input">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
